header.header {
  display: flex;
  background-color: orange;
  justify-content: space-between;
  border-radius: 8px;
  position: sticky;
  top: 0;
  margin-top: -8px;
}

#list {
  background-color: black;
}

#list:hover,
#addNew:hover,
#contact:hover {
  cursor: pointer;
}

body {
  background-color: wheat;
  font-family: sans-serif;
}

.remove {
  background-color: red;
  border-radius: 5px;
  border: 0.3px solid white;
  padding: 5px;
  margin: 5px;
  color: white;
}

div.inputs {
  display: none;
  text-align: center;
  min-height: 50vh;
  padding-top: 100px;
}

div.contact {
  display: none;
  width: 90%;
  text-align: center;
  min-height: 50vh;
  padding-top: 10%;
  margin: 0 auto;
}

h3 {
  text-align: center;
}

.header h3 {
  background-color: black;
  color: white;
  border-radius: 5px;
  padding: 5px;
}

.containerMenu ul li {
  border-radius: 4px;
  background-color: grey;
  color: white;
  padding: 5px;
}

div.containerMenu ul {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  list-style-type: none;
}

div.containerMenu ul li {
  margin-right: 5px;
}

div.date {
  font-weight: bold;
  font-size: 22px;
  display: flex;
  justify-content: flex-end;
}

div.containerMenu {
  width: 30%;
}

input {
  border-radius: 5px;
  border: 0.8px solid black;
  text-align: center;
  margin-bottom: 5px;
  width: 50%;
  height: 30px;
}

button.add {
  height: 30px;
  width: 50%;
}

p {
  margin: 0;
  padding: 0;
}

div.container {
  border-radius: 8px;
  border: 2px solid black;
  min-height: 60vh;
  margin: 0 auto;
  width: 80%;
}

button {
  margin-bottom: 4px;
}

div.containerBooks {
  background-color: orange;
  margin-bottom: 3px;
  border-radius: 8px;
  margin-left: 4px;
  margin-right: 4px;
  width: 98%;
  padding-left: 7px;
  display: flex;
  justify-content: space-between;
}

div.bookDetails {
  width: 35%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.contact ul li {
  margin-bottom: 10px;
  list-style-type: none;
}
